*{
    background-color: #FFFFFD;
}
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 90vh; 
    margin-left: -10px;
    margin-right: -10px;
    
}

.header {
    grid-row: 0/1;
    text-align: center;
    
}

img {
    height: 150px;
    width: 150px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0; 
    background: #4A7FE7;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: .75em;
    color: white;
    background: #4A7FE7;
  }
  .navigation a:hover {
    background: #1565C0;
    color:yellow;
  }

.content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   margin: 5%;
   
}

.item1 {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    color: #070057
}

.item2 {
    padding: 1%;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    color: #070057
}

.item3 {
    margin: 0 auto;
    grid-column: 2;
    grid-row: 1;
    background-color: #4A7FE7;
}



.footer {
    background-color: #4A7FE7;
    grid-row: 4/5;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    color: white;
    background-color: #4A7FE7;
    
}

h1{
    text-align: center;
    color:  #070057;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    color:  #070057;
    font-family: 'Times New Roman', Times, serif;
}