*{
    background-color: #FFFFFD;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 90vh;    
    margin-left: -10px;
    margin-right: -10px;
   
}

.header {
    grid-row: 1/2;
    text-align: center;

}

img {
    height: 150px;
    width: 150px;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto; 
    background: #4A7FE7;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: .75em;
    color: white;
    background: #4A7FE7;
   
  }
  .navigation a:hover {
    background: #1565C0;
    color:#EBFF00;
  }
.content {
    grid-row: 3/4;
    justify-self: center;
    
}

.footer {
    background-color: #4A7FE7;
    grid-row: 4/5;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    
}

h4 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4A7FE7;

}
h1{
    text-align: center;
    color:  #070057;
    font-family: 'Times New Roman', Times, serif;


}

p{
    text-align: center;
  font-size: 1.33em;
  color: #070057;
  font-family: 'Arsenal', sans-serif;
  max-width: 50%;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;

  
}

form{text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font: 1;
     font-size: 1.5em;
    background-color:none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-left: 10em;
    margin-right: 10em;
    padding: 1em;
    margin-bottom: 2em;
    color:  #070057;
    }


.btn{
    margin: 20px;
    padding: 50px;
    color: white;

}

.btn:hover {
    color: #EBFF00;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2px;
  }

  .responsive {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
  }
  input[type=submit] {
    padding:5px 15px; 
    background:#0FB20B; 
    border: 0;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 1.33em;
}

