*{
    background-color: #FFFFFD;
    font-family: ;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 90vh;    
    margin-left: -10px;
    margin-right: -10px;
}

.header {
    grid-row: 0/1;
    text-align: center;
}

img {
    height: 150px;
    width: 150px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0; 
    background: #4A7FE7;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: .75em;
    color: white;
    background: #4A7FE7;
  }
  .navigation a:hover {
    background: #1565C0;
    color:#EBFF00;
  }


.content {
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 600px;
    height: 400px;
    background-color: brown;
    margin-top: 50px;
}

.team-img {
    width: 600px;
    height: 400px;
}

.text{
    width: 600px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 5px black;
}

.footer {
    background-color: #4A7FE7;
    grid-row: 4/5;
    text-align: center;
}




.button{
    border: none;
    border-radius: 5%;
    padding: 25px 30px;
    display: inline-block;
    background-color: green;
}

.button a{
    color:white;
    background-color: green;
    
}

.button a:hover{
    color: #ebff00;
}

@media (max-width: 1275px) {
    .grid {
        grid-template-rows: 150px 75px 750px 150px;
    }
}

h4 {
    color: white;
    background-color: #4A7FE7;
}
